/* 웹폰트 - Spoqa Han Sans */
@import url(./fonts.css);

/* CSS 초기화 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.15;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 숨김 콘텐츠 */
.a11y,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  visibility: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}

/* 기본 박스 사이징 설정 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 기본 글자크기 설정 */
html {
  font-size: 10px;
}

/* 본문 기본 스타일 */
body {
  font-family: "Spoqa Han Sans", sans-serif;
  font-weight: 400;
  background-color: #fff;
  color: #121212;
  margin: 0;
  font-size: 1.6rem;
}

/* 여기서 작업 */
body {}

.container {}

img {
  height: 40px;
}

.input {
  height: 4rem;
  width: 40rem;
  padding-left: 2rem;
  border: 1px solid rgb(217, 217, 217);

}

.login {
  background-color: green;
  border: none;
  color: white;
}

.box {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.check {
  display: flex;
  gap: 1rem;
}

.mycheckbox input[type="checkbox"] {
  /* display: none 의 치명적인 결점 : 마우스로 조작가능한 객체는 키보드로도 접근가능하도록 해야한다  */
  display: none;
}

.mycheckbox input[type="checkbox"]+label {
  background: url('/images/icon-checked.svg') no-repeat;
  width: 20px;
  height: 20px;
}

.mycheckbox input[type="checkbox"]:checked+label {
  background: url('/images/icon-unchecked.svg') no-repeat;
  width: 20px;
  height: 20px;
}

/* 공통 스타일 */
/* 반응형 이미지  */
/* 이미지를 100퍼 주고 담은 커네이너 값을 조절하는 방식  */
/* 고정 값을 줄거냐 유동값을 줄거냐 설계가 들어간게 반응형  */
/* 공통 반응형 이미지 */
.responsive-img {
  max-width: 100%;
  height: auto;
}

/* 클래스 나누고 부품화 : svg 에 적용시킬것과 이미지 태그에 적용시킬것 등등 */
.responsive-svg {
  width: 100%;
  height: auto;
}

/* 공통 사항에 공통 붙여주기  */
/* 공통 네이버 로고 */
.logo {
  width: clamp(15rem, 51.25%, 23rem);
  /* auto : 좌우 여백이 뷰포트에 따라 유동적으로 할당 */
  margin: 7rem auto 4.5rem;
  font-size: 1rem;
}

.naver-home-link {
  /* a tag 는 inline 이므로 block 으로 변경  */
}

/* 공통 로그인 폼  */
.login-form-container {
  display: flex;
  /* flex-direction: column; */
  /* row 방향으로 배치하면 편하다. column도 가능하지만 그보다 wrap 을 사용해서 width 값을 줘서 레이아웃을 만들면 낫다. 
  row 를 주면서 줄마꿈을 준다 */
  /* wrap 과 nowrap의 차이는 같은 row 라도 width 값으로 colum처럼 보이게 할수있냐없냐 차이  */
  flex-flow: row nowrap;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  gap: 1rem;
}

/* 공통 에러 메세지 */
.error-message {
  color: red;
  /* 글자가 밑으로 떨어지도록 만들기  */
  /* display: none; 과 display: block;을 에러메세지 날때마다 바꿔치기 해주기  */
  display: none;
  font-size: 1.2rem;
  margin-top: 1rem;

}

/* invalid 가 들어왔을때 error-message 보여주기  */
/* input 의 값이 유효한가 아닌가 -> is--invalid 삽입 */
.is--invalid+.error-message {
  display: block;
}

/* 공통 로그인 상태 유지 체크박스 */
.login-state {
  margin-top: 1.5rem;
  background: yellow;
  display: flex;
  /* 줄바꿈 비허용 */
  flex-flow: row nowrap;
  position: relative;

}

/* 모바일 스타일  */
@media (max-width: 480px) {

  /* 모바일 활경 IP 보완 및 체크박스 */
  .ip-security-wrapper {
    background: #000;
    display: none;
  }
  .ip-security-checkbox{
    
  }
  .ip-security-label::before{
    content: "OFF";
    /* width: 주기위해 display: block; */
    display: block;
    width: 2.8em;
    /* on off 글자 길이 변화때문에 위치 왔다갔다하지 않도록 왼쪽 정렬으로 고정 */
    text-align: right;
    background-color: yellow;
  }
  /* ip-security-checkbox 이 on 되었을때 "ON" 을 넣어주겠다 */
  .ip-security-checkbox + .ip-security-label::before{
    content: "ON";
  }

  /* 모바일 로그인 삳태 유지 및 체크박스  */
  .login-state {
    /* ip 체크박스 위치를 왼쪽에서 오른쪽으로 이동  */
    justify-content: flex-end;
/* 공통 로그인 폼 */
.login-form-container {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.user-email-input,
.user-password-input {
  width: 100%;
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  border: 1px solid #aaa;
  height: 4.8rem;
}

.user-email-input:focus,
.user-password-input:focus {
  outline: none;
  border-color: #03cf5d;
}

.user-email-input:focus::placeholder,
.user-password-input:focus::placeholder {
  color: #03cf5d;
}

.login-state-ip-security-checkbox-wrapper {
  /* background: salmon; */
  order: 1;
}

.btn-login {
  background: #03cf5d;
  padding: 1.6rem 0;
  color: #fff;
  border: 0;
  margin-top: 1rem;
}

/* 공통 에러 메세지 */
.error-message {
  color: red;
  display: none;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.is--invalid + .error-message {
  display: block;
}

/* 공통 로그인 상태 유지 체크박스 */
.login-state {
  position: relative;
}

.login-state-checkbox {
  position: absolute;
  top: -0.4rem;
  left: -0.4rem;
  width: 2.4rem;
  height: 2.4rem;
  appearance: none;
}

.login-state-label {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.5rem;
}

.login-state-label .icon-check {
  background: url(./../images/icon-unchecked.svg) no-repeat 0 0 /100%;
  display: block;
  width: 2.4rem;
  height: 2.4rem;
}

.login-state-checkbox:checked + .login-state-label .icon-check {
  background-image: url(./../images/icon-checked.svg);
}

/* 모바일 스타일 */
@media (max-width: 480px) {
  /* 모바일 로그인 폼 */
  .login-form-container {
    /* background: skyblue; */
  }

  /* 모바일 IP 보완 및 체크박스 */
  .ip-security-wrapper {
    display: none;
  }

  /* 모바일 로그인 상태 유지 및 체크박스 */
  .login-state {
    float: right;
  }
}

/* 데스크탑 스타일 */
@media (min-width: 481px) {
  /* 데스크탑 로고 */
  .logo {
    width: 23rem;
    margin-top: 10rem;
    margin-bottom: 5rem;
  }

  /* 데스크탑 로그인 폼 */
  .login-form-container {
    width: 460px;
    margin-left: auto;
    margin-right: auto;
  }

  /* 데스크탑 로그인 상태유지 및 IP 보완 체크박스 */
  .login-state-ip-security-checkbox-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  /* 데스크탑 IP 보완 및 체크박스 */
  .ip-security-wrapper {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
  }

  .ip-security {
    position: relative;
  }

  .ip-security-checkbox {
    position: absolute;
    top: -0.4rem;
    right: -0.4rem;
    width: 2.8rem;
    height: 2rem;
    appearance: none;
  }

  .ip-security-label::before {
    content: "OFF";
    display: block;
    width: 2.8rem;
    text-align: right;
    color: #aaa;
    font-weight: 700;
  }

  .ip-security-checkbox:checked + .ip-security-label::before {
    content: "ON";
    color: #03cf5d;
  }
}

/* 480을 기준으로 깨지게  */

/* 데스크탑 스타일  */
@media(min-width: 481px) {
  width: 23rem;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

/* a 태그 기본설정  */
/* a{
    color: inherit;
    text-decoration: none;
  } */

/* 웹과 모바일 컨테이너 박스의 순서가 다를 경우
display flex 의 order 속성을 사용하면 된다. */

/* width 의 기본값은 auto 이다  */

/* 공통 사항 누락된것 */
.user-email-input,
.user-password-input {
  width: 100%;
  font-size: 1.4rem;
  padding: 0.2rem 0.5rem;
  background: #000;
  height: 4.8rem;
  /* 마우스 커서 주면 활성화 표시에 여유 주기 */
}

.user-email,
.user-password {
  margin: 3rem;
}

/* 눈에 보이지 않는 상태 디자인 , 키보드로 접근했을때 입력창 활성화시 */
.user-email-input:focus,
.user-password-inputfocus {
  outline: none;
  border-color: green;
  border-width: 2px;
}

/* placeholder 변경  */
.user-email-input::placeholder,
.user-password-inputfocus::placeholder {
  color: yellow;
}

/* placeholder 에 포커스 했을때 변경  */
.user-email-input:focus::placeholder,
.user-password-inputfocus:focus::placeholder {
  color: purple;
}

.btn-login {
  background: green;
  padding: 1.6rem 0;
  border: 0;
}

/* 누락 */
.login-state-ip-security-checkbox-wrapper {
  order: 1;
}

/* 체크박스 이미지는 체크박스에 주는게 아니라 label 에 준다 (백그라운드로 깔 옞ㅇ) */
.login-state-label .icon-check {
  background: pink url(./../images/icon-unchecked.svg) no-repeat;
  /* 크기를 주기 위해 display: block; */
  display: block;
}

.login-state-label {
  /* 두 flex 가 주는 영향의 범위 구분하기  */
  display: flex;
  flex-flow: row nowrap;
  /* 교차축 기준 정렬 -> 가운데 정렬 */
  align-items: center;
  gap: 0.5rem;
}

.login-state-checkbox {
  position: absolute;
  /* 체크박스 배경이미지 보명서 위치조정 */
  top: -0.4rem;
  left: -0.4rem;
  width: 2.4rem;
  height: 2.4rem;
  background: transparent;
  border: 0;
  /* 기본스타일 나타내지 말아주세요 appearance: none; */
  appearance: none;
}

.login-state-checkbox:checked + .login-state-label .icon-check {}

/* 로그인 상태 유지 체크박스는 flex 보다 float 이 더 적합한 경우도 있다 */

/* absolute 로 띄우면 키보드 텝에서 안잡히므로 label 을 적용시켜준다. */