/* 웹폰트 - Spoqa Han Sans */
@import url(./fonts.css);

/* 숨김 콘텐츠 */
.a11y {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  visibility: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}

/* 기본 글자크기 설정 */
html {
  font-size: 10px;
}

/* 본문 기본 스타일 */
body {
  font-family: "Spoqa Han Sans", sans-serif;
  font-weight: 400;
  background-color: #fff;
  color: #121212;
  margin: 0;
  font-size: 1.6rem;
}

/* 공통 스타일 */
/* 반응형 이미지 */
.responsive-img {
  max-width: 100%;
  height: auto;
}
.responsive-svg {
  width: 100%;
  height: auto;
}

/* 네이버 로고 */
.logo {
  width: clamp(15rem, 51.25%, 23rem);
  margin: 7rem auto 4.5rem;
  font-size: 1rem;
}

.logo img {
  display: block;
}

/* 모바일 스타일 */
@media (max-width: 480px) {
}

/* 데스크탑 스타일 */
@media (min-width: 481px) {
  .logo {
    width: 23rem;
    margin-top: 10rem;
    margin-bottom: 5rem;
  }
}
